 <!-- Page Content -->
 <div   class="container ">

        <div class="row">
    
          <!-- Post Content Column -->
          <div class="col-lg-12">
                <div class="row">
                        <div class="col-lg-7 ">
                                <!-- Title -->
                                <h1  *ngIf="spot" class="mt-4">{{spot.name}}</h1>
                                
                                <hr>

                                <!-- Date/Time -->
                                <div *ngIf="spot"  class="row">
                                  <div class="col-md-8 col-6">  
                                    <p  *ngIf="spot">{{spot.spotType}}</p>
                                    <p  *ngIf="spot">Dodano {{spot.created_at | date: 'dd.MM.yyyy, h:mm'}}</p>
                                  </div>
                                  <div class="col-md-4 col-6 text-right">
                                    <div title="comment" class="like float-right com-count"><span class="likes-count">{{spot.comments}}</span>
                                      <a class="" [routerLink]="" fragment="coms">
                                      <img class="ld ldt-bounce-in" src="../../../assets/icons/comment.png"></a>
                                    </div>
                                      <div title="like" *ngIf="!isLiked" class="unlike float-right">

                                        <span class="likes-count">{{spot.likes}}</span>
                                        <img class="ld ldt-bounce-in" src="../../../assets/icons/unlike.png"
                                                (click)="likePost()">
  
                                      </div>
                                      <div title="like" *ngIf="isLiked" class="like float-right">
                                            <span class="likes-count">{{spot.likes}}</span>
                                            <img class="ld ldt-bounce-in" src="../../../assets/icons/like.png"
                                                    (click)="unlikePost()">
                                    </div>
                                    
                                      </div>

                                </div>

                                <!-- Author -->
                                <p  *ngIf="spot" class=" author">
                                        <a [routerLink]="['/profile/',spot.user.id]">
                                                <p><img
                                                                src="{{spot.user.avatar_url}}">{{spot.user.username}}</p>
                                        </a>
                                </p>
                                <p *ngIf="isUserOwningPost" class="type"> <a [routerLink]="['update']">Edytuj</a> </p>
                                <p *ngIf="isUserOwningPost" class="type delete"> <a (click)="deleteSpot()">Usuń</a> </p>

                                <!-- Preview Image -->
                                <div *ngIf="spot"  class="header-photo">
                                        <img class="img-fluid rounded images" *ngIf="spot.images[0]" alt="" src="{{spot.images[0].link}}">
                                        <img class="img-fluid rounded no-images" *ngIf="!spot.images[0]" src="../../../assets/no-images.png">
                                </div>
                                
                                <hr>

                                <!-- Post Content -->
                                <p *ngIf="spot" class="lead">{{spot.description}}</p>

                                <hr>
                                
                                <div *ngIf="spot">
                                        <app-photo-gallery *ngIf="spot.images[0]" [images]="spot.images">
                                        </app-photo-gallery>
                                </div>

                        </div>
                        <div class="col-lg-5 ld ldt-slide-right-in">
    
                                        <!-- Search Widget -->
                                        <div class="card my-4">
                                          <h5 class="card-header">Lokalizacja</h5>
                                          <div class="card-body">
                                            <div class="map">
                                                    <div #map style="height: 400px"></div>
                                            </div>
                                          </div>
                                        </div>
                          </div>      
                
    
            <div class="col-lg-12">
              
            <hr>
              <div class="row">
              <div class="col-lg-7">
                <a class="anchor" id="coms"></a>
                <app-comment-list></app-comment-list>
                  

                  
                        </div>
                        <div class="col-lg-5">
                          <!-- <div class="card my-4">
                            <h5 class="card-header">Inne spoty</h5>
                            <div class="card-body">
                                <h5 *ngFor="let spot of additionalSpots"><a [routerLink]="['/spots/',spot.id]">{{spot.name}}</a></h5>
                            </div>
                          </div> -->
                        </div>
                
                      </div>
      

    </div>
              </div>
    
          </div>
    
        </div>
      </div>
    