.container{
  color: var(--secondary-color);
}

a{
  color: var(--main-color);
}

.header-photo img{
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.header-photo img.images{
  object-fit: cover;
  width: 100%;
}
.header-photo img.no-images
{
  height: 64px;
  width: 64px;
  margin: 43px;
} 
.header-photo{
  text-align: center;
}
.author a{
  font-size: 35px;
}
.author img{
  height:35px;width:35px;position: relative;top:-5px; margin-right: 5px; border-radius: 5px;
}
.card{
  background: var(--white-color);
}
p{
  margin-bottom: 0;
}

.like , .unlike{
  font-size: 40px;
  padding: 0;
  margin: 0;
}
.like img, .unlike img{
  position: relative;
  bottom: 2px;
  width: 35px;
  height: 35px;
  -webkit-transition:  .3s; /* For Safari 3.1 to 6.0 */
  transition:  .3s;
  margin-left: 5px;
}
.like img:hover, .unlike img:hover{
  opacity: .5;
  cursor: pointer;
}
.com-count{
  margin-left: 5px;
}
.com-count a{
  color: var(--secondary-color)
}
.delete{
  color: red;
}