.password-container{
    min-height: calc(100% - 159px);
    width: 100%;
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 120%;
}
.form-wrapper{
    background-color: var(--white-color);
    padding: 2vw;
    border-radius: 5px;
    min-width: 300px;
    max-width: 100vw;
}
input{
    margin-bottom:2vh;
    padding: .2vw .5vw;
    border-radius: 5px;
    width: 100%;
    border-color: var(--secondary-color);
}
input:focus{ 
    border-color: var(--main-color);
  }
button{
    float: right;
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: 0;
    padding: 5px;
    border-radius: 5px;
}
button:disabled{
    opacity: 0.5;
}