*.properties
frontend/frontend/dist
fronted/frontend/e2e
frontend/frontend/.firebase
backend/target
backend/src/main/resources
server
frontend/frontend/node_modules
frontend/frontend/src/environments/environment.prod.ts
frontend/frontend/src/certs