@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

  #map{
      width: 100%;
      background: white;
  }
  #legend {
    background: var(--white-color);
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--secondary-color);
  }
  #legend h3 {
    margin-top: 0;
  }
  #legend img {
    vertical-align: middle;
  }
