
.wrapper{
    box-sizing: border-box;
    width: 300px;
    height: 483px;
    padding: 0;
    padding: 8px;
    background: var(--white-color);
    color: var(--secondary-color);
    transition: all .2s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .wrapper{
    border-radius: 6px;
  }
}
img.images{
  object-fit: cover;
  width: 100%;
  height: 150px;
}
.wrapper:hover {
  
}


  p{
    margin: 0 0 15px 15px;
    padding: 0;
  }
  
  .colored-text{
    color:var(--secondary-color);
  }
  
  
  img.no-images{
    height: 64px;
    
    margin: 43px;
  }

  .header-photo{
    text-align: center;
  }
  .bookmark{
    width: 100%;
    border: none;
    background: none;
    padding: 8px auto;
    border-bottom: 4px solid white;
  }
  
  .active{
    border-color: var(--main-color);
    
    -webkit-transition:  .8s; /* For Safari 3.1 to 6.0 */
    transition:  .8s;
    
  }
  .bookmarks{
    width: 100%;
    margin: 0;
    font-weight: bold;
  }
  .col-3{
    padding: 8px 0px;
    text-align: center;
  }
  
  .section{
    padding: 5px 10px;
  }
  
  a{
    color:  var(--secondary-color);
    text-decoration: none;
  }
  
  .like , .unlike{
    position: relative;
    bottom: 4px;
    font-size:28px;
    padding: 0;
    margin: 0;
    margin-right: 15px;
  }
  .like img, .unlike img{
    position: relative;
    bottom: 8px;
    width: 30px;
    height: 30px;
    -webkit-transition:  .3s; /* For Safari 3.1 to 6.0 */
    transition:  .3s;
  }

  
  .type{
    margin: 0;
  }

  h1{
    overflow-wrap: break-word;
    font-size:28px;
  }
.col-md-8{
  padding: 0 10px;
}
  .col-8{
      padding: 0;
      padding-left: 10px;
  }
  .col-4{
    padding: 0;
      padding-right: 10px;
  }

  .profile{
      margin: 0;
    font-size: 30px;
    margin-top:10px;
  }

  .profile img{
    height:50px;width:50px;position: relative;top:-15px; margin-right: 5px;
    border-radius: 5px;
  }

  .description{
    position: relative;top:-10px;
      height: calc(100% - 15px);
      margin: 5px 0;
      height: 152px;
  }