<div class="wrapper">
        <a [routerLink]="['/spots',spot.id]">


                <div class="header-photo" *ngIf="spot">
                        <img class="images" *ngIf="spot.images[0]" alt="" src="{{spot.images[0].link}}">
                        <img class="no-images" *ngIf="!spot.images[0]" src="../../../assets/no-images.png">
                </div>

                <div *ngIf="spot" class="section" id="info">
                        
                        <p class="colored-text" class="profile"><img
                                src="{{spot.user.avatar_url}}"><a>{{spot.user.username}}</a></p>
                        <div class="row header">
                                
                                <div class="col-12 text-left">
                                        <div class="name">{{spot.name}}</div>
                                </div>
                                <div class="col-md-8 col-12">
                                        <p class="type"><a href="#">{{spot.created_at | date: 'dd.MM.yyyy'}}</a>
                                        </p>
                                </div>
                                <div class="col-md-8 col-8">
                                        <p class="type"><a href="#">{{spot.spotType}}</a>
                                        </p>
                                </div>
                                <div class="col-md-4 col-4 text-right">
                                        <span class="unlike">
                                                {{spot.likes}}<img src="../../../assets/icons/unlike.png"></span>
                                        <span class="unlike">
                                                        {{spot.comments}}<img src="../../../assets/icons/comment.png"></span>
                                </div>
                                <div  *ngIf="distance" class="col-12">
                                        <p title="Upewnij się, że masz GPS" class="type">Odległość: {{distance |  number : '1.2-2'}} km
                                        </p>
                                </div>
                        </div>




                </div>
        </a>

</div>