@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
.footer{
    font-family: 'Lora', serif;
    width: 100%;
    background: var(--black-color);
    color: var(--secondary-color);
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
}
.button{
    margin:6px 0px;
    background: var(--main-color);
    color: var(--secondary-color);
    
    font-weight: bold;
}