<div class="footer">
        <div class="row">
                <div class="col-4 col-sm-0">

                </div>
                <div class="col-md-4 col-sm-12">
                        Stronę stworzył Kamil Czepiel
                        <br>
                        <i class="fa fa-envelope"></i> kamil.czepiell@gmail.com
                        <br>
                        <a class="btn button" data-toggle="collapse" href="#collapseExample" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                Licencje
                                <img src="../../../assets/icons/file.png">
                        </a>
                        <div class="collapse" id="collapseExample">
                                <div class="">
                                        Like icons made by <a href="https://www.flaticon.com/free-icon/heart_1216774" title="itim2101">itim2101</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                                        <br>
                                        Comment icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                                        is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
                                                title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                                        <br>
                                        <p>Background: Photo by Raoul Croes on Unsplash</p>
                                        <p><a [routerLink]="['/policy']">Polityka prywatności</a></p>


                                </div>
                        </div>

                </div>
                <div class="col-4 col-sm-0">

                </div>
        </div>

</div>