
                        <div class="footer">
                                        <div class="row">
                                                        <div class="col-4 col-sm-0">
                                                
                                                        </div>
                                                        <div class="col-md-4 col-sm-12">
                                        Stronkę stworzył Kamil Czepiel
                                        <br>
                                        <i class="fa fa-envelope"></i>  kamil.czepiell@gmail.com
                                        <br>
                                        <a class="btn button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                        Licencje
                                                        <img src="../../../assets/icons/file.png">
                                        </a>
                                        <div class="collapse" id="collapseExample">
                                                        <div class="">
                                                                        <a href="https://www.freepik.com/free-photos-vectors/tree">Background Tree vector created by katemangostar - www.freepik.com</a>
                                                                        <br>
                                                                        <br>
                                                                        Like Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                                                                        <br>
                                                                        <br>
                                                                        Comment Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                                                                        <br>
                                                                        <br><a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by katemangostar - www.freepik.com</a>
                                                                        <br>
                                                                        <br><div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
                                                        </div>
                                                      </div>
                                        
                        </div>
                        <div class="col-4 col-sm-0">
        
                                </div>
        </div>
        
                </div>
