/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/cdk/overlay-prebuilt.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap&subset=latin-ext');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    background-color: #100e17;
    font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
  }


  :root {
    --main-color: #08bdbd;
    --secondary-color: #eaeaeb; 
    --white-color: #17141d;
    --lighter-color: #f6faf0;
    --black-color: #100e17;
  }
 .btn-primary{
   background-color:#5199FF;
 }
a{
    cursor: pointer;
}

.error{
  color: red;
  font-weight: bold;
}

.shadow{
  box-shadow: -1rem 0 3rem #000;
}
.ld{
  animation-duration:0.5s;
}

.wrapper{
  background: white;
}

h1{
  font-weight: bold;
}

.mat-radio-outer-circle{
  border-color: var(--secondary-color);
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  
  border-color: var(--main-color);
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
  background:  var(--main-color);
}


button{
  outline:none;
}


.gm-style-iw {
  background: var(--white-color) !important;
  padding: 0px !important;
  margin: 0 !important;
  max-height: 325px !important;
  width:300px !important;
  overflow: hidden !important;
 
}

.gm-style-iw-d button{
  background-color: red;
}
.card{
  background: var(--white-color);
}

input{
  border: 3px solid var(--secondary-color);
}
input:focus{ 
  border-color: var(--main-color);
}