<form *ngIf="!message" [formGroup]="passwordForm">
    <div class="form-group">
        <label for="password">Hasło:</label><br>
        <input type="password" class="form-control" required="required"
            formControlName="password" (focus)="passwordTouched = true" (focusout)="passwordTouched = false">
    </div>
    <div *ngIf="submitted && passwordForm.controls['password'].hasError('required')" class="form-group error">
        <i class="fa fa-times"></i> Hasło wymagane
    </div>

    <div *ngIf="passwordTouched">
        <div [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' :'text-success'"
            class="form-group error">
            <i
                [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasNumber')  ? 'fa fa-times' :'fa fa-check'"></i>
            Ma co najmniej jedną cyfrę
        </div>
        <div [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' :'text-success'"
            class="form-group error">
            <i
                [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasCapitalCase')  ? 'fa fa-times' :'fa fa-check'"></i>
            Ma co najmniej jedną duża literę
        </div>
        <div [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' :'text-success'"
            class="form-group error">
            <i
                [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasSmallCase')  ? 'fa fa-times' :'fa fa-check'"></i>
            Ma co najmniej jedną małą literę
        </div>
        <div [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('minlength') ? 'text-danger' :'text-success'"
            class="form-group error">
            <i
                [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('minlength') ? 'fa fa-times' :'fa fa-check'"></i>
            Ma co najmniej 8 znaków
        </div>
        <div [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('maxlength') ? 'text-danger' :'text-success'"
            class="form-group error">
            <i
                [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('maxlength') ? 'fa fa-times' :'fa fa-check'"></i>
            Ma co najwyżej 20 znaków
        </div>
    </div>
    
    <div class="form-group">
        <label for="rpassword">Powtórz:</label><br>
        <input type="password" class="form-control" required="required"
            formControlName="rpassword">
    </div>
    <div *ngIf="submitted && passwordForm.controls['rpassword'].hasError('required')" class="form-group error">
        <i class="fa fa-times"></i> Powtórz hasło
    </div>
    <div *ngIf="submitted && passwordForm.controls['rpassword'].hasError('MatchPassword')" class="form-group error">
        <i class="fa fa-times"></i> Hasła nie są zgodne
    </div>
    <button [disabled]="!passwordForm.valid" type="submit" (click)="changePassword()">Zmień</button>
</form>


<div class="message" *ngIf="message">
    <p *ngIf="message.message">{{message.message}}</p>
    <p *ngIf="message.error">{{message.error}}</p>
    <a *ngIf="message.error" (click)="message=null">Spróbuj jeszcze raz</a>
</div>

