
<form [formGroup]="loginForm">
    <p class="hint-text"><b>Zaloguj się</b></p>
    <!-- <a class="fb connect" (click)="facebookLogin()">Logowanie</a>
    <div class="or-seperator"><b>lub</b></div> -->
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nazwa użytkownika" required="required"
            formControlName="nickname">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Hasło" required="required" formControlName="password">
    </div>
    <div *ngIf="failed" class="form-group error">
        <i class="fa fa-times"></i> Niepoprawne dane
    </div>
    <input type="submit" (click)="login()" class=" submit-button " value="Zaloguj">
    <div class="form-footer">
        <a  [routerLink]="['/password-recovery']">Zapomniałeś hasła?</a>
    </div>
</form>