.sort-container{
 background-color: var(--white-color);
 padding: 10px;
 border-radius: 5px;
 color: var(--secondary-color);
}

@media only screen and (min-width: 1400px) {
  .col-xxl-4{
      width:33.33%;
  }
  .col-xxl-8{
    width:66.66%;
  }
  .col-xxl-3{
    width:25%;
}
.col-xxl-2{
  width:16.66%;
}
}

select{
  font-weight: bold;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background: var(--secondary-color);
  color: var(--white-color);
}
option{
  font-weight: bold;
}
option:hover{
  background: var(--secondary-color);
  color: var(--secondary-color);
}

.form-wrap{
  float: right;
}

.title{
  display: inline-block;
  font-size: 150%;
}

select{
  width:100%;
  box-sizing: border-box;
  padding: 5px;
  margin: 2px;
}

button{
  box-sizing: border-box;
  padding: 5px;
  border: none;
  width: calc(50% - 4px);
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin:2px;
}
.sort-button{
  background: var(--main-color);
}
.sort-button:disabled{
  opacity:0.8;
}
.cancel-button{
  background: var(--black-color);
}

.sort-info{
  background: var(--main-color);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 4px;
  margin:2px;
}
