.comment-input{
    padding: 10px;
    background:#100E17 ;
    border-radius: 5px;
  }
  
  textarea{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--secondary-color);
    width: 100%;
  }
  
  textarea:focus{
    border-color: var(--secondary-color);
  }
  .submit{
    text-align: right;
  }
  
  button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 110%;
    background: var(--main-color);
    color: white;
  }

  button:disabled{
    opacity: .8;
  }
  