.main-container{
    color: var(--secondary-color);
}
.contain{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding-top: 60px;
}
.header{
    box-sizing: border-box;
    margin-top:67px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding: 8px;
    font-size: 36px;
    background: var(--white-color);
    border-radius: 5px;
    color: var(--secondary-color);
}

@media only screen and (min-width: 768px) {
    .wrapper{
      border-radius: 6px;
    }
    .header{
        margin-left: 57px;
        max-width: 50%;
    }
    .spot:not(:first-child){
        margin-left: -50px;
}
  }

@media only screen and (min-width: 768px) {
    .contain{
        margin: 5px 5px 5px 5px;
        margin-bottom: 14px;
    }
}

.spot{
    position: relative;
  left: 0px;
}


.spot:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .spot:hover ~ .spot {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
.main-container {
    min-height: calc(100vh -  114px); /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    align-items: center;
    padding-bottom: 100px; /* height of your footer */
   }
   @media only screen and (min-width: 768px) {
    .main-container{
        margin-top: 114px;
    }
}
   .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }